[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/drupal-snippets"]
	path = bundle/drupal-snippets
	url = git://github.com/tanarurkerem/drupal-snippets.git
[submodule "bundle/neocomplcache"]
	path = bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = git://github.com/scrooloose/snipmate-snippets.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/tcomment_vim"]
	path = bundle/tcomment_vim
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = git://github.com/skammer/vim-css-color.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-yankring"]
	path = bundle/vim-yankring
	url = git://github.com/chrismetcalf/vim-yankring.git
[submodule "bundle/vim-drupal"]
	path = bundle/vim-drupal
	url = psynaptic@git.drupal.org:project/vimrc.git
